DB_URL=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
JWT_AUTHENTICATION_TOKEN_SECRET=
JWT_AUTHENTICATION_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=
JWT_RESET_PASSWORD_TOKEN_SECRET=
JWT_RESET_PASSWORD_TOKEN_EXPIRATION=
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
